body{
    width: 100%;
    overflow-x: hidden;
}
.hero-img{
    height: 70vh;
    object-fit: cover;

}

.hero{
    padding-left: 40px;
    padding-right: 40px;
}

.hero-carousel-option{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.795), rgba(5, 5, 5, 0.075))
}


/* content section */

.content-first{
    height: 300px;
    padding: 20px
}
.content-group{
    padding-left: 40px;
    padding-right: 40px;
    

}

.content-second{
    height: 300px;
  
    padding: 20px;
}

.content-third{
    height: 300px;
   
    padding: 20px 10px;
}
.card-one{
    background-color: rgb(190, 26, 26);
    border-radius: 20px;
    height: 100px;
    padding: 10px;
    width: auto;
    color: white;
}
.card-two{
     background-color: rgb(7, 120, 148);
    border-radius: 20px;
    height: 125px;
    width: auto;
    padding: 10px;
    color: white;
}
.card-three{
     background-color: rgb(2, 170, 2);
    border-radius: 20px;
    height: 123px;
    width: auto;
    padding: 10px;
    color: white;
}
.image{
    width: 50px;
}
.but{
    display: flex;
    gap: 10px;
}
/* products section */
.products-wrapper{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.product-card .product-img{
    width: 250px;
    object-fit: cover;
}
.rating-wrapper{
    background-color: orange;
    width: 80px;
    height: 30px;
    align-items: center;
    justify-content: centre;
    gap: 5px;
    color: white;
    border-radius: 10px;
}

.rating-wrapper .rating-img{
    width: 20px !important;
    height: 20px !important;
}

.goto-button{
    background-color: orange;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.goto-button .goto-img{
    width: 20px !important;
    height: 20px !important;
    object-fit: cover;
}
.product-card{
    padding: 0;
}
.lower-links{
    align-items: center;
    justify-content: space-around;
}